<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="pop.mail.ru"/>
    <add key="Username" value="testrfid@mail.ru"/>
    <add key="Password" value="best4metoo"/>
    <add key="Port" value="995"/>
    <add key="EnableSSL" value="true"/>
    <add key="PrinterIP" value="172.18.8.150"/>
    <add key="PrinterPort" value="9100"/>
  </appSettings>
</configuration>